Pyrogram
TgCrypto
ffmpeg-python
psutil
pytgcalls[pyrogram]
wheel
youtube_dl
youtube_search_python
youtube_search
wget

requests
git+https://github.com/pyrogram/pyrogram@master
asyncio
pytgcalls==3.0.0.dev12
python-rapidjson>=0.9.3

Pillow>=4.2.0

aiohttp
tswift
