Pyrogram
TgCrypto==1.2.2
ffmpeg-python
psutil
pytgcalls[pyrogram]
wheel
youtube_dl
youtube_search_python
youtube_search
wget
python-dotenv>=0.10
requests
git+https://github.com/pyrogram/pyrogram@master
asyncio
pytgcalls==3.0.0.dev13
python-rapidjson>=0.9.3

Pillow>=4.2.0

aiohttp
tswift
